header {
    padding: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1,
h2 {
    color: white;
    margin-bottom: 20px;
}

h2 {
    font-weight: lighter;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.search-box {
    margin-top: 1vh;
}

input {
    width: 100%;
}